@model InstituteMVC.ViewModels.ClassVM
<div class="form-group">
    @Html.LabelFor(model => model.SlctdClassVal, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
       @Html.DropDownListFor(model => model.SlctdClassVal, Model.ClassList, "--Please Select--")
        @Html.ValidationMessageFor(model => model.SlctdClassVal)
    </div>
</div>
